
img {
    display: block;
    margin: auto;

}
.jumbotron{
  text-align: center;
  font-family: cursive;
  background-color: #80b3ff;
}
.container{
  width: 1920px;
}
h2{
  text-align: center;
}
.dark{
  font-weight: 900;
  font-style: italic;
}
